name: "it-tools"
version: "2024.10.22-7ca5933"
slug: "it-tools"
description: "it-tools server for Home Assistant"
url: "https://github.com/x9132706292/hassos-addons/"
startup: "services"
boot: "auto"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
ports:
  80/tcp: 80
ports_description:
  80/tcp: "Web server port"
